.background img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 99vw;
    margin: 0;
    z-index: 1000;
}
.title h2{
    font-size: 4rem;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    margin-top: -450px;
    padding: 20px;
    position: relative;
    
}
.title{
    margin-top: -300px;
}
.title p{
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
    color: white;
}
